:root {
  --white: #ffffff;
  --basic-black: #000000;
  --basic-black-light: #231f20;
  --basic-grey-extra-dark: #4d4d4d;
  --basic-grey: #d5d5d5;
  --basic-grey-light: #dfdfdf;
  --basic-grey-extra-light: #eeeeee;
  --basic-red: #d7373b;
  --basic-red-light: #e74246;
  --basic-red-extra-light: #fb565a;
  --basic-green: #00aa62;
  --basic-green-light: #00bc6c;
  --basic-green-extra-light: #00ca74;
  --basic-yellow: #e5a722;
  --basic-yellow-light: #eab534;
  --basic-yellow-extra-light: #efc84a;

  --special-red: #d7373b;
  --special-red-light: #e74246;
  --special-grey: #e1e1e1;
  --basic-text: #283136;
  --additional-text: #444444;
  --additional-grey: #666666;
  --range-grey: #d7dcdf;
  --logo-grey: #a6a6a6;
  --border-button: #dbdbdb;
}
.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
  white-space: nowrap;
}

body {
  background-color: var(--white);
  color: var(--basic-text);
  font-family: "Roboto", "Arial", sans-serif;
  font-size: 16px;
  font-weight: normal;
  line-height: 24px;
  margin: 0;
  min-width: 1200px;
  padding: 0;
}

a {
  color: var(--basic-black);
  text-decoration: none;
}

img {
  height: auto;
  max-width: 100%;
}

h1 {
  font-weight: medium;
  font-size: 55px;
  line-height: 55px;
  text-align: center;
  padding-bottom: 108px;
}

h2 {
  font-weight: bold;
  font-size: 45px;
  line-height: 53px;
}

ul {
  list-style: none;
}

.text-uppercase {
  text-transform: uppercase;
}

/* Grid */

.page {
  height: 100%;
}

.page-body {
  align-content: start;
  display: grid;
  grid-template-rows: min-content 1fr min-content;
  min-height: 100%;
}

.main-header {
  background-color: var(--basic-grey-extra-light);
}

/* Main-navigation */

.main-navigation {
  color: var(--basic-black);
  font-size: 16px;
  line-height: 30px;
}

/* Logo */

.logo-img {
  height: 66px;
  width: 160px;
}

.logo-link:hover {
  opacity: 0.3;
}

/* Container */

.container {
  margin: 0 auto;
  padding: 0 20px;
  width: 1160px;
}

.navigation-wrapper {
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-top: 49px;
}

.navigation-list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  padding: 0;
}

.navigation-additional-list {
  margin: 0;
  max-width: 357px;
  padding: 0;
  padding-left: 50px;
  position: relative;
}

.navigation-additional-list .cart-link {
  padding-left: 50px;
}

.navigation-item {
  color: var(--basic-black);
  margin-left: 44px;
}

.navigation-link-current {
  border-bottom: 2px solid var(--basic-red-extra-light);
}

.navigation-link:hover {
  color: var(--basic-red-extra-light);
}

.navigation-link:active {
  color: var(--basic-black);
  opacity: 0.3;
}

.cart-link::before {
  background-image: url("/img/svg-nerds/cart-icon.svg");
  background-repeat: no-repeat;
  content: "";
  display: block;
  height: 16px;
  left: 100px;
  position: absolute;
  top: 6px;
  width: 16px;
}

/* Слайдер */

.slider {
  display: flex;
  min-width: 761px;
}

.slide-description-list {
  width: 400px;
  padding: 0;
  margin: 0;
}

.slide-title {
  font-weight: medium;
  font-size: 55px;
  min-height: 111px;
  line-height: 55px;
}

.slide-description {
  font-size: 16px;
  line-height: 24px;
}

.slider-page-list {
  margin: 0;
}

.button {
  background-color: var(--basic-red-extra-light);
  border-radius: 3px;
  color: var(--white);
  display: inline-block;
padding: 25px 25px;
  text-transform: uppercase;
  text-align: center;
  vertical-align: middle;
}

.button-slide {
  width: 240px;
}

.button-slide:hover {
  background-color: var(--basic-red-light);
}

.button-slide:active {
  background-color: var(--basic-red);
}

/* Service */

.service {
  margin-top: 80px;
}

.service-list {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  margin: 0;
  margin-bottom: 80px;
  padding: 0;

}

.service-title {
  font-size: 24px;
  font-weight: bold;
  line-height: 30px;
}

.button-service-red {
  width: 160px;
}

.button-service-red:hover {
  background-color: var(--basic-red-light);
}

.button-service-red:active {
  background-color: var(--basic-red-);
}

.button-service-green {
  background-color: var(--basic-green-extra-light);
  width: 160px;
}

.button-service-green:hover {
  background-color: var(--basic-green-light);
}

.button-service-green:active {
  background-color: var(--basic-green);
}

.button-service-yellow {
  background-color: var(--basic-yellow-extra-light);
  width: 160px;
}

.button-service-yellow:hover {
  background-color: var(--basic-yellow-light);
}

.button-service-yellow:active {
  background-color: var(--basic-yellow);
}

/* О нас */

.index-columns {
  border-top: 2px solid var(--basic-grey-extra-light);
  display: flex;
  justify-content: space-between;
  margin-bottom: 73px;
}

.about-us {
  margin-right: 112px;
}

.about-us-title {
  color: var(--basic-black);
  font-weight: medium;
  font-size: 45px;
  line-height: 45px;
  margin-top: 73px;
  margin-bottom: 32px;
}

.about-us-text {
  margin-bottom: 23px;
  margin-top: 37px;
}

.about-us-list {

  padding: 0;
}

.about-us-item{
  margin-bottom: 24px;
  padding-left: 36px;
}

/* Advantages */

.nerds-illustration-wrapper {
  margin-top: 39px;
}

.advantages-title {
  font-weight: bold;
  margin-bottom: 31px;
  margin-top: 37px;
  margin-left: 70px;
}

.advantages-list {
  color: var(--basic-black);
  display: flex;
}

.advantages-value {
  color: var(--basic-black);
  font-weight: bold;
  font-size: 45px;
  line-height: 64px;
  margin-right: 20px;
}

.percent {
  font-size: 26px;
  font-weight: bold;
  line-height: 40px;
  vertical-align: super;
}

.advantages-description {
  font-size: 16px;
  line-height: 18px;
}

/* Partners */

.partners {
  border-top: 2px solid var(--basic-grey-extra-light);
  border-bottom: 2px solid var(--basic-grey-extra-light);
  margin-bottom: 80px;
}

.partners-list {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.partners-link {
  opacity: 0.2;
}

.partners-link:hover {
  opacity: 1;
}

.partners-link:active {
  opacity: 0.1;
}

/* Main-footer */

.main-footer {
  position: relative;
}

.map img {
  width: 100%
}

.footer-contacts {
  background-color: var(--white);
  box-sizing: border-box;
  min-height: 308px;
  padding-top: 49px;
  padding-right: 50px;
  padding-bottom: 47px;
  padding-left: 50px;
  position: absolute;
  top: 54px;
  width: 319px;
}

.company-title {
  font-weight: bold;
  font-size: 18px;
  line-height: 30px;
  margin-bottom: 23px;
}

.company-address,
.phone {
  color: var(--additional-grey);
  font-style: normal;
  font-size: 16px;
  line-height: 18px;
}

.button-footer-contacts {
  margin-top: 27px;
  vertical-align: middle;
  width: 219px;
}

.button-footer-contacts:hover {
  background-color: var(--basic-red-light);
}

.button-footer-contacts:active {
  background-color: var(--basic-red);
}

.main-footer::before {
  background-image: url(/img/map-marker.png);
  background-repeat: no-repeat;
  content: "";
  height: 190px;
  position: absolute;
  right: 530px;
  top: 153px;
  width: 231px;
  }

.social-page {
  display: flex;
  justify-content: space-between;
}

.social-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-top: 68px;
  margin-bottom: 76px;
  min-width: 262px;
  padding: 0;
}

.social-button {
  background-color: var(--special-grey);
  background-position: center;
  background-repeat: no-repeat;
  border-radius: 50%;
  display: block;
  height: 78px;
  text-align: center;
  width: 78px;
}

.social-button-vk {
  background-image: url("/img/svg-nerds/vk-icon.svg");
}

.social-button-fb {
  background-image: url("/img/svg-nerds/fb-icon.svg")
}

.social-button-inst {
  background-image: url("/img/svg-nerds/insta-icon.svg")
}

.social-button:hover {
  background-color: var(--special-red-light);
}

.social-button:active {
  background-color: var(--special-red);
  box-shadow: inset 0px 3px 0px rgba(0, 1, 1, 0.1);
}

.offer {
  margin-top: 75px;
  margin-bottom: 82px;
}

.offer-friendship {
  font-weight: bold;
  font-size: 36px;
  line-height: 36px;
  margin: 0;
  margin-bottom: 10px;
}

.offer-discount {
  color: var(--additional-text);
  font-size: 16px;
  line-height: 22px;
  margin: 0;
  width: 660px;
}

/* Popup */

.popup {
  background-color: var(--white);
  background-position: 0 0;
  background-repeat: repeat;
  box-shadow: 0px 20px 40px rgba(0, 0, 0, 0.4);
  color: var(--basic-black);
  display: none;
}

/* Catalog */

.page-catalog {
  align-content: start;
  display: grid;
  grid-template-columns: 260px 1fr;
  margin-top: 54px;
}

.filter fieldset {
  border: none;
  margin: 0;
  padding: 0;
}

h3,
.sort-filter {
  font-weight: bold;
  font-size: 18px;
  line-height: 30px;
  text-transform: uppercase;
}

/* Range-filter */

.filter-item {
  border: none;
  margin: 0;
  padding: 0;
}

.range-filter {
  margin-top: 26px;
  margin-bottom: 54px;
  width: 260px;
}

.range {
  border-radius: 3px;
  background-color: var(--basic-grey-extra-light);
  height: 41px;
  margin-bottom: 15px;
  padding-top: 39px;
  padding-right: 20px;
  padding-left: 20px;
  position: relative;
}

.range-axios {
  background-color: var(--range-grey);
  height: 2px;
}

.range-selected-area {
  background-color: var(--basic-green-extra-light);
  height: 2px;
  width: 70%;
}

.range .toggle {
  background-color: var(--logo-grey);
  border: 8px solid var(--white);
  border-radius: 50%;
  box-shadow: 0 2px 1px 0 rgba(0, 0, 0, 0.15);
  cursor: pointer;
  height: 4px;
  left: 0;
  padding: 0;
  position: absolute;
  top: 31px;
  width: 4px;
}

.range .toggle-min {
  left: 18px;
}

.range .toggle-max {
  left: 160px;
}

.price-filter {
  display: flex;
  justify-content: space-between;
}

.price-filter label {
  text-transform: uppercase;
  font-family: "Roboto", "Arial", sans-serif;
  font-size: 16px;
}

.price-filter input {
  text-align: center;
  background: var(--basic-grey-extra-light);
  border: none;
  border-radius: 3px;
  color: var(--basic-text);
  margin-left: 10px;
  padding: 10px;
  width: 60px;
  font-family: inherit;
  font-size: inherit;
}

/* Grid-filter */

.grid-filter-list {
  margin-bottom: 46px;
  padding: 0;
}

.grid-filter-item {
  font-size: 16px;
  line-height: 18px;
  margin-bottom: 19px;
  padding-left: 45px;
}

.grid-filter-item label {
  display: block;
  cursor: pointer;
  position: relative;
  user-select: none;
}

.filter-input-radio + label::before {
  background-image: url(/img/svg-nerds/radio-off.svg);
  background-repeat: no-repeat;
  background-position: 0 0;
  content: "";
  height: 25px;
  left: -42px;
  opacity: 0.4;
  position: absolute;
  top: -5px;
  width: 25px;
}

.filter-input-radio:checked + label::after {
  background-image: url(/img/svg-nerds/radio-on.svg);
  background-repeat: no-repeat;
  background-position: 0 0;
  content: "";
  height: 25px;
  left: -42px;
  opacity: 0.4;
  position: absolute;
  top: -5px;
  width: 25px;
}

.filter-input-radio:hover + label::before,
.filter-input-radio:checked:hover + label::after {
  opacity: 1;
}

.filter-input-radio:disabled + label::before,
.filter-input-radio:checked:disabled + label::after {
 opacity: 0.1;
}

.grid-filter-item label:disabled {
  opacity: 0.3;
}

/* Features-filter */

.features-filter-list {
  margin-bottom: 50px;
  padding: 0;
}

.features-filter-item {
  font-size: 16px;
  line-height: 18px;
  margin-bottom: 17px;
  padding-left: 45px;
}

.features-filter-item label {
  display: block;
  cursor: pointer;
  position: relative;
  user-select: none;
}

.filter-input-checkbox + label::before {
  background-image: url(/img/svg-nerds/checkbox-off.svg);
  background-repeat: no-repeat;
  content: "";
  height: 23px;
  left: -42px;
  opacity: 0.4;
  position: absolute;
  top: -3px;
  width: 23px;
}

.filter-input-checkbox:checked + label::after {
  background-image: url(/img/svg-nerds/checkbox-on.svg);
  background-repeat: no-repeat;
  content: "";
  height: 23px;
  left: -42px;
  opacity: 0.4;
  position: absolute;
  top: -3px;
  width: 26px;
}

.filter-input-checkbox:hover + label::before,
.filter-input-checkbox:checked:hover + label::after {
  opacity: 1;
}

.filter-input-checkbox:disabled + label::before,
.filter-input-checkbox:checked:disabled + label::after {
  opacity: 0.1;
}

.features-filter-item label:disabled {
  opacity: 0.3;
}

.button-filter {
  background-color: var(--basic-grey-extra-light);
  border: none;
  color: var(--basic-black);
  cursor: pointer;
  height: 50px;
  text-transform: uppercase;
  width: 260px;
}

.button-filter:hover {
  background-color: var(--basic-grey-light);
}

.button-filter:active {
  background-color: var(--basic-grey);
  box-shadow: inset 0px 3px 0px rgba(0, 1, 1, 0.1);
}

/* Sort-filter */

.catalog {
  margin-left: 140px;
  }

.catalog-header {
  align-items: center;
  display: flex;
  justify-content: space-between;
  margin-bottom: 48px;
}

.sort-list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  min-width: 360px;
  padding-left: 266px;
}

.sort-item {
  font-size: 14px;
  line-height: 18px;
  margin-right: 25px;
  position: relative;
  text-transform: uppercase;
  display: flex;
}

.sort-icon-list {
  flex-direction: flex-end;
}

.sort-icon-link {
  height: 10px;
  opacity: 0.3;
  width: 11px;
}

.icon-link-down {
  background-image: url(/img/svg-nerds/icon-down-dir.svg);
  background-repeat: no-repeat;
  position: absolute;
  bottom: -4px;
  left: -75px;
}

.icon-link-up {
  background-image: url(/img/svg-nerds/icon-up-dir.svg);
  background-repeat: no-repeat;
  position: absolute;
  bottom: -4px;
  left: -52px;
}

.sort-link {
  opacity: 0.3;
}

.sort-icon-link,
.sort-link:hover {
  opacity: 0.6;
}

.sort-link:active,
.sort-icon-link:active {
  opacity: 1;
}

.sort-icon-link {
  opacity: 0.2;
}

.catalog-list {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  margin-bottom: 54px;
  padding: 0;
  width: 760px;
}

.catalog-item {
  min-height: 576px;
  margin-right: 40px;
  margin-bottom: 71px;
  position: relative;
  width: 360px;
}

.catalog-item::before {
  background-image: url(/img/svg-nerds/browser.svg);
  background-repeat: no-repeat;
  background-position: 0 0;
  content: "";
  height: 40px;
  opacity: 0.12;
  position: absolute;
  top: -40px;
  width: 360px;
}

.catalog-item:hover::before {
  opacity: 1;
}

.catalog-item:nth-child(2n) {
  margin-right: 0;
}

.product-description {
  align-items: center;
  background-color: var(--basic-grey-extra-light);
  bottom: 11px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  height: 231px;
  justify-content: center;
  position: absolute;
  width: 360px;
  opacity: 0;
}

.catalog-item:hover .product-description {
  opacity: 1;
}

.product-title {
  margin-bottom: 12px;
  margin-top: 26px;
}

.product-description p {
  margin: 0;
  margin-bottom: 32px;
  text-align: center;
  width: 255px;
}


.product-title:hover {
  color: var(--basic-red-extra-light);
}

.product-title:active {
  opacity: 0.3;
}

.button-catalog {
  width: 200px;
}

.button-catalog:hover {
  background-color: var(--special-red-light);
}

.button-catalog:active {
  background-color: var(--special-red);
}

.pagination {
  margin-bottom: 60px;
}

.pagination-list {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
}

.pagination-item {
  margin-right: 11px;
}

.button-page {
  background-color: var(--basic-grey-extra-light);
  border-radius: 3px;
  color: var(--basic-black);
  display: inline-block;
  height: 50px;
  text-transform: uppercase;
  text-align: center;
  width: 50px;
}

.page-current {
  background-color: var(--white);
  border: 3px;
  border-color: var(--border-button);
  border-style: solid;
  box-sizing: border-box;
}

.button-page:hover {
  background-color: var(--basic-grey-light);
}

.button-page:active {
  background-color: var(--basic-grey);
}

.next-page {
  width: 260px;
}
