:root {
  --white: #ffffff;
  --basic-black: #000000;
  --basic-black-light: #231f20;
  --basic-grey-extra-dark: #4d4d4d;
  --basic-grey: #d5d5d5;
  --basic-grey-light: #dfdfdf;
  --basic-grey-extra-light: #eeeeee;
  --basic-red: #d7373b;
  --basic-red-light: #e74246;
  --basic-red-extra-light: #fb565a;
  --basic-green: #00aa62;
  --basic-green-light: #00bc6c;
  --basic-green-extra-light: #00ca74;
  --basic-yellow: #e5a722;
  --basic-yellow-light: #eab534;
  --basic-yellow-extra-light: #efc84a;

  --special-red: #d7373b;
  --special-red-light: #e74246;
  --special-grey: #e1e1e1;
  --basic-text: #283136;
  --additional-text: #444444;
  --additional-grey: #666666;
  --range-grey: #d7dcdf;
  --logo-grey: #a6a6a6;
  --border-button: #dbdbdb;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

body {
  background-color: var(--white);
  color: var(--basic-text);
  font-family: "Roboto", "Arial", sans-serif;
  font-size: 14px;
  font-weight: normal;
  line-height: 24px;
  margin: 0;
  min-width: 1200px;
  padding: 0;
}

a {
  color: var(--basic-black);
  text-decoration: none;
}

img {
  height: auto;
  max-width: 100%;
}

h1 {
  font-weight: 500;
  font-size: 55px;
  line-height: 55px;
}

h2 {
  font-weight: bold;
  font-size: 45px;
  line-height: 53px;
}

ul {
  list-style: none;
}

.text-uppercase {
  text-transform: uppercase;
}

/* Grid */

.page {
  height: 100%;
}

.page-body {
  align-content: start;
  display: grid;
  grid-template-rows: min-content 1fr min-content;
  min-height: 100%;
}

/* Main-navigation */

.main-navigation {
  background-color: var(--basic-grey-extra-light);
  color: var(--basic-black);
  display: flex;
  font-size: 16px;
  justify-content: center;
  line-height: 30px;
}

/* Logo */

.logo-link {
  height: 66px;
  width: 160px;
}

/* Container */

.container {
  margin: 0 auto;
  padding: 0 20px;
  width: 1160px;
}

.navigation-wrapper .container {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.navigation-list {
  display: flex;
  justify-content: space-around;
  margin: 0;
  min-height: 114px;
  padding: 0;
  width: 800px;
}

.navigation-additional-list {
  margin: 0;
  max-width: 357px;
  padding: 0;
  padding-left: 50px;
}

.navigation-additional-list .cart-link {
  padding-left: 50px;
}

.navigation-item {
  color: var(--basic-black);
}

.navigation-link-current {
  border-bottom: 2px solid var(--basic-red-extra-light);
}

.navigation-link a:hover {
  color: var(--basic-red-extra-light);
}

.navigation-link a:focus {
  color: var(--basic-black);
  opacity: 0.3;
}

/* Слайдер */

.slider {
  display: flex;
  justify-content: center;
}

.slide-description-list {
  width: 401px;
}

.slide-title {
  font-weight: 500;
  font-size: 55px;
  height: 111px;
  line-height: 55px;
  width: 538px;
}

.slider-page-list {
  width: 761px;
}

.button {
  background-color: var(--basic-red-extra-light);
  border-radius: 3px;
  color: var(--white);
  display: inline-block;
  height: 50px;
  text-transform: uppercase;
  text-align: center;
}

.button-slide {
  width: 240px;
}

.button-slide:hover {
  background-color: var(--basic-red-light);
}

.button-slide:active {
  background-color: var(--basic-red);
}

/* Service */

.service-list {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  padding: 0;
}

.service-title {
  font-size: 24px;
  font-weight: bold;
  line-height: 30px;
}

.button-service-red {
  width: 160px;
}

.button-service-red:hover {
  background-color: var(--basic-red-light);
}

.button-service-red:active {
  background-color: var(--basic-red-);
}

.button-service-green {
  background-color: var(--basic-green-extra-light);
  width: 160px;
}

.button-service-green:hover {
  background-color: var(--basic-green-light);
}

.button-service-green:active {
  background-color: var(--basic-green);
}

.button-service-yellow {
  background-color: var(--basic-yellow-extra-light);
  width: 160px;
}

.button-service-yellow:hover {
  background-color: var(--basic-yellow-light);
}

.button-service-yellow:active {
  background-color: var(--basic-yellow);
}

/* О нас */

.index-columns {
  display: flex;
  justify-content: space-between;
}

.about-us-title {
  color: var(--basic-black);
  font-weight: 500;
  font-size: 45px;
  line-height: 45px;
}

.about-us-list {
  margin: 0;
  padding: 0;
  width: 651px;
}

/* Advantages */

.advantages-title {
  font-weight: bold;
}

.advantages-list {
  color: var(--basic-black);
  display: flex;
  width: 360px;
}

.percent {
  color: var(--basic-black);
  font-weight: bold;
  font-size: 45px;
  line-height: 64px;
}

/* Partners */

.partners-list {
  display: flex;
  justify-content: space-around;
}

.partners-link {
  opacity: 0.2;
}

.partners-link:hover {
  opacity: 1;
}

.partners-link:active {
  opacity: 0.1;
}

/* Main-footer */

.footer-contacts {
  height: 308px;
  width: 319px;
}

.company-title {
  font-weight: bold;
  font-size: 18px;
  line-height: 30px;
}

.company-address,
.phone {
  color: var(--additional-grey);
  font-style: normal;
  font-size: 16px;
  line-height: 18px;
}

.button-footer-contacts {
  width: 219px;
}

.button-footer-contacts:hover {
  background-color: var(--basic-red-light);
}

.button-footer-contacts:active {
  background-color: var(--basic-red);
}

.social-page {
  display: flex;
  justify-content: space-between;
}

.social-list {
  display: flex;
  width: 262px;
}

.social-button {
  background-color: var(--special-grey);
  border-radius: 50%;
  display: inline-block;
  height: 78.25px;
  text-align: center;
  width: 78.25px;
}

.social-button:hover {
  background-color: var(--special-red-light);
}

.social-button:active {
  background-color: var(--special-red);
}

.offer {
  color: var(--additional-text);
  font-size: 16px;
  line-height: 22px;
  width: 660px;
}

.offer-friendship {
  font-weight: bold;
  font-size: 36px;
  line-height: 36px;
}

/* Popup */

.popup {
  background-color: var(--white);
  background-position: 0 0;
  background-repeat: repeat;
  box-shadow: 0px 20px 40px rgba(0, 0, 0, 0.4);
  color: var(--basic-black);
  display: none;
}

/* Catalog */

.page-catalog {
  align-content: start;
  display: grid;
  grid-template-columns: 260px 1fr;
}

.page-title {
  grid-column: 1 / -1;
}

.filter fieldset {
  border: none;
}

h3,
.sort-filter {
  font-weight: bold;
  font-size: 18px;
  line-height: 30px;
  text-transform: uppercase;
}

/* Range-filter */

.filter-item {
  border: none;
  margin: 0;
  padding: 0;
}

.range-filter {
  margin-top: 49px;
  width: 260px;
}

.range {
  border-radius: 3px;
  background-color: var(--basic-grey-extra-light);
  height: 41px;
  margin-bottom: 15px;
  padding-top: 39px;
  padding-right: 20px;
  padding-left: 20px;
  width: 260px;
}

.range-axios {
  background-color: var(--range-grey);
  height: 2px;
  width: 205px;
}

.range-selected-area {
  background-color: var(--basic-green-extra-light);
  height: 2px;
  width: 70%;
}

/* Grid-filter */

.grid-filter h3 {
  margin-top: 55px;
}

.grid-filter-list {
  margin: 0;
  padding: 0;
}

.features-filter-list {
  margin: 0;
  padding: 0;
}

.button-filter {
  background-color: var(--basic-grey-extra-light);
  color: var(--basic-black);
  cursor: pointer;
  height: 50px;
  text-transform: uppercase;
  width: 260px;
}

.button-filter:hover {
  background-color: var(--basic-grey-light);
}

.button-filter:active {
  background-color: var(--basic-grey);
}

.sort-list {
  display: flex;
  justify-content: flex-end;
  margin-bottom: 54px;
}

.sort-item {
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
}

.sort-icon {
  height: 10px;
  width: 11px;
}

.sort-link {
  opacity: 0.3;
}

.sort-icon-link {
  opacity: 0.2;
}

.sort-link:hover,
.sort-icon-link:hover {
  opacity: 0.6;
}

.sort-link:active,
.sort-icon-link:active {
  color: var(--basic-black);
}

.catalog {
  margin-left: 140px;
}

.product-title:hover {
  color: var(--basic-red-extra-light);
}

.product-title:active {
  opacity: 0.3;
}

.catalog-list {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  margin-bottom: 54px;
  padding: 0;
  width: 760px;
}

.catalog-item {
  width: 360px;
  min-height: 280px;
  margin-right: 40px;
  margin-bottom: 55px;
}

.catalog-item:nth-child(2n) {
  margin-right: 0;
}

.product-description {
  background-color: var(--basic-grey-extra-light);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 231px;
  width: 360px;
}

.button-catalog {
  width: 200px;
}

.button-catalog:hover {
  background-color: var(--special-red-light);
}

.button-catalog:active {
  background-color: var(--special-red);
}

.pagination {
  margin-bottom: 60px;
}

.pagination-list {
  display: flex;
}

.pagination-item {
  margin-right: 11px;
}

.button-page {
  background-color: var(--basic-grey-extra-light);
  border-radius: 3px;
  color: var(--basic-black);
  display: inline-block;
  height: 50px;
  text-transform: uppercase;
  text-align: center;
  width: 50px;
}

.page-current {
  background-color: var(--white);
  border: 3px;
  border-color: var(--border-button);
  border-style: solid;
  box-sizing: border-box;
}

.button-page:hover {
  background-color: var(--basic-grey-light);
}

.button-page:active {
  background-color: var(--basic-grey);
}

.next-page {
  width: 260px;
}
